.product_main_div {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product_info_container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.product_buy_container {
  max-width: 415px;
  width: 100%;
}

.sticky_options {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.option_div {
  width: 100%;
  padding: 24px 35px;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.option_div_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}

.svg_div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.svg_div button {
  background-color: unset;
  display: grid;
  place-items: center;
  border: none;
}

.option_div_btns button span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.svg_div svg:hover {
  color: var(--main-orange);
  transition: 0.3s;
}

.svg_div svg {
  transition: 0.3s;
}

.svg_div button.active {
  color: var(--main-orange);
}

.prices_div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.current_price {
  font-family: "TT Firs Neue", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: var(--black);
}

.old_price {
  font-family: "TT Firs Neue", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #5d5d5f;
  text-decoration-line: line-through;
}

.option_div_btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.other_options_div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.other_option {
  width: 100%;
  padding: 24px;
  border: 1px solid #f2f2fa;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.other_option:hover {
  border: 1px solid var(--main-orange);
  transition: 0.3s;
}

.other_option_title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: var(--black);
  border-bottom: 1px dashed var(--black);
  width: fit-content;
}

.other_option_desc {
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
  max-width: 185px;
}

.other_option:first-child img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 190px;
  height: 90px;
}

.other_option:last-child img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 110px;
  height: 150px;
}

.estvoprosi {
  font-family: "Inter", sans-serif;
  text-transform: lowercase;
  font-size: 14px;
  line-height: 24px;
  color: #ff6418;
}

.estvoprosi:hover {
  text-decoration: underline;
}
