.footer {
  margin-top: 120px;
}

.footer_inner {
  padding-block: 80px;
}

.footer_top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 80px;
  gap: 20px;
}

.footer_top_last {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.footer_top_title {
  font-family: var(--neue-medium), sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: var(--black);
  margin: 0px !important;
}

.footer_top_nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.footer_top_nav a {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray);
  width: fit-content;
  transition: 0.3s !important;
}

.footer_top_nav a:hover {
  color: var(--black) !important;
  transition: 0.3s !important;
}

.footer_outer_link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer_outer_link span {
  font-family: "Inter", sans-serif;
}

.footer_bottom {
  padding-top: 40px;
  border-top: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.footer_bottom_left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer_social_media {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer_icon_div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
  background-color: var(--bg-gray);
  color: var(--gray);
  transition: 0.3s;
}

.footer_icon_div:hover {
  color: var(--main-orange) !important;
  transition: 0.3s !important;
}

.footer_icon_div svg {
  width: 36px;
  height: 36px;
}

.googleplay svg {
  width: 28px;
  height: 28px;
  margin-left: 5px;
}

.footer_copy_text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray);
}

.footer_bottom_right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer_right_text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.mobile_footer {
  display: none;
  max-width: 100%;
  width: 100%;
}

.footer_accordion:last-child,
.footer_accordion:first-child {
  border-radius: 0px !important;
}

.footer_accordion_btn svg {
  max-width: 22px;
  width: 100%;
  height: 22px;
  color: var(--black);
}

.footer_accordion_body {
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow: hidden;
  background-color: unset !important;
}

.accordion_link {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray);
}

@media (max-width: 1800px) {
  .footer_top_nav {
    margin-top: 24px;
  }
  .footer_top_title {
    font-size: 24px;
    line-height: 28px;
  }
  .footer_top_nav a,
  .footer_copy_text,
  .footer_right_text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  .footer_inner {
    padding-block: 40px;
  }
  .footer_bottom_left {
    gap: 24px;
  }
  .footer_top {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    padding-bottom: 40px;
  }
}

@media (max-width: 880px) {
  .footer {
    margin-top: 60px;
    margin-bottom: 100px;
  }
  .footer_top_title {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
  }
  .mobile_footer {
    display: flex;
  }
  .footer_inner {
    display: none;
  }
  .footer_social_media {
    border-top: 1px solid #ebebeb;
    padding-block: 24px;
  }
  .mobile_qr {
    padding-block: 24px;
  }
}
