.info {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.more_link {
  font-size: 20px;
  line-height: 28px;
  color: #ff6418;
  margin-bottom: 8px;
}

.more_link:hover {
  color: #ff6418;
  text-decoration: underline !important;
}

@media (max-width: 880px) {
  .info {
    align-items: center;
    justify-content: space-between;
  }
  .more_link {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 0px;
  }
}
