.brand {
  width: 100%;
  height: 160px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.category {
  width: 100%;
  height: 245px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.blog {
  width: 100%;
  height: 280px;
  background-color: #f9f9f9;
  border-radius: 18px;
}

.product {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 16px;
  height: 480px;
}
