.swiper {
  max-width: 25%;
  width: 100%;
}

.swiperSlide {
  min-height: 430px;
  border: 1px solid red;
  border-radius: 24px;
  padding: 30px 32px;
  background-color: var(--white);
}

.card {
  min-height: 430px;
  border-radius: 24px;
  background-color: #eeee;
}
