.main_content {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.profile_div {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  border-left: 1px solid #f2f2fa;
  padding-left: 24px;
}

.profile_div div {
  width: 100%;
}

.component_div {
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2fa;
  border-radius: 8px;
  overflow: hidden;
}

.component_div:nth-child(2) .component_div_body > p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray);
}

.component_div_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 16px;
  border-bottom: 1px solid #f2f2fa;
}

.component_div_header > p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--black);
}

.component_div_body {
  padding: 16px;
}

.emptyOrders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0 50px 0;
}

.emptyOrders p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: var(--gray);
  margin-top: 16px !important;
}

.emptyOrders_img {
  position: relative;
  max-width: 280px;
  width: 100%;
  height: 230px;
}

.emptyOrders_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cont input {
  display: none;
}

.cont input:checked ~ .switch::before {
  background-color: var(--main-orange);
}

.cont input:checked ~ .switch {
  margin-left: calc(100% - 16px);
}

.cont {
  display: block;
  width: 40px;
  height: 24px;
  border-radius: 12px;
  padding: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
}

.switch {
  display: block;
  width: 16px !important;
  height: 16px !important;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 6px 10px rgba(9, 12, 16, 0.12);
  transition: inherit;
}

.switch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eaeaeb;
  transition: inherit;
  z-index: -1;
}

.checkedinput {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 24px;
}

.checkedinput p {
  font-size: 14px;
  line-height: 24px;
}

.component_div:first-child .component_div_body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.keyValue {
  display: flex;
  align-items: center;
  gap: 8px;
}

.key {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray);
}

.value {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--black);
}

.profile_grid {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #f2f2fa;
  padding-left: 24px;
  gap: 48px;
  width: 100%;
}

.profile_comp_div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-bottom: 1px solid #f2f2fa;
  padding-bottom: 48px;
  width: 100%;
}

.profile_comp_div:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.profile_div_title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: var(--black);
}

.form_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.form_content_div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form_content_div label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--gray);
  cursor: pointer;
}

.form_content_div input,
.form_content_div select {
  font-family: "Inter", sans-serif;
  padding: 16px;
  border: 1px solid #ebebeb;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  overflow: hidden;
}

.grid2_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-top: 16px;
}

.emptyUser_container {
  width: 100%;
  margin-top: 12px;
}

.emptyUser_content {
  padding: 24px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.emptyUser_btn {
  padding: 32px 16px;
  background-color: #f9f9f9;
}

.emptyUser_content > img {
  display: inline-block;
  max-width: 105px;
  width: 100%;
  height: 30px;
  object-fit: contain;
}

.emptyUser_content > p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.essiz_link {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--black) !important;
  padding: 20px 16px;
  box-shadow: inset 0px -0.5px 0px #eaeaeb;
}

.essiz_link svg,
.edit_page_link svg {
  max-width: 24px !important;
  width: 100% !important;
  height: 24px !important;
  color: var(--gray) !important;
}

.essiz_link p {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.fullUser_container {
  width: 100%;
  margin-top: 32px;
}

.edit_page_link {
  display: flex;
  align-items: center;
  padding: 20px 16px;
  background-color: #f9f9f9;
  color: var(--black);
  gap: 24px;
}

.user_info_div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user_info_div p:first-child {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--black);
}

.user_info_div p:last-child {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray);
}

@keyframes popUp {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0%);
  }
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  z-index: 20;
}

.modal_content {
  max-width: 590px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  animation: popUp 0.8s ease;
}

.modal_content_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 20px 40px;
  background-color: var(--bg-gray);
}

.modal_content_headerText {
  width: 100%;
  font-family: "TT Firs Neue";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
}

.modalCloser {
  max-width: 32px;
  width: 100%;
  height: 32px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.modalCloser span:first-child {
  transform: rotate(45deg);
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--red);
}

.modalCloser span:last-child {
  transform: rotate(-45deg);
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--red);
}

.modal_content_body {
  display: flex;
  align-items: center;
  gap: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 54px 40px;
}

.modal_content_body button {
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
}

.modal_content_body button:first-child {
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
}

.modal_content_body button:last-child {
  background-color: var(--main-orange);
  border: 1px solid var(--main-orange);
  color: var(--white);
}

@media (max-width: 1800px) {
  .component_div_body {
    gap: 16px;
  }
  .profile_div {
    gap: 16px;
    padding-left: 16px;
    grid-template-columns: 0.55fr 0.45fr;
  }
}

@media (max-width: 1200px) {
  .profile_div {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 880px) {
  .main_content {
    display: none;
  }
  .profile_container {
    padding-inline: 0px !important;
  }
  .mobile_content {
    display: flex;
  }
  .checkedinput {
    margin-top: 0px;
  }
  .modal_content {
    max-width: 100%;
    height: 100%;
    animation: none;
  }
}
