.blog_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1 1 auto;
  width: 100%;
}

.blog_img {
  position: relative;
  width: 100%;
  height: 560px;
  border-radius: 32px;
  overflow: hidden;
}

.blog_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog_title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: var(--black);
}

.text_div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 16px;
}

.text_div p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
}

.main_flex {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  margin-top: 32px;
}

.ads_container {
  max-width: 390px;
  width: 100%;
}

.ads_div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}

.ads {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 24px;
  overflow: hidden;
}

.ads img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1800px) {
  .main_flex {
    gap: 60px;
  }
  .blog_img {
    height: 460px;
  }
}

@media (max-width: 1400px) {
  .blog_img {
    height: 380px;
  }
  .ads {
    height: 240px;
  }
  .main_flex {
    gap: 40px;
    margin-top: 24px;
  }
}

@media (max-width: 1200px) {
  .ads_container {
    display: none;
  }
  .text_div {
    gap: 16px;
  }
}

@media (max-width: 880px) {
  .blog_img {
    height: 320px;
    border-radius: 8px;
  }
  .main_flex {
    margin-top: 16px;
  }
  .text_div p {
    font-size: 14px;
    line-height: 24px;
  }
  .blog_title {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 580px) {
  .blog_img {
    height: 200px;
  }
}
