.mainMenu {
  position: absolute;
  top: 128px;
  left: 0;
  width: 100%;
  height: calc(100vh - 128px);
  background-color: var(--white);
  z-index: -1;
  transform: translateY(-160%);
  transition: 0.5s;
  max-height: 840px;
}

.mainMenu.show {
  transform: translateY(0%);
  transition: 0.5s;
  background-color: var(--white);
  border: 1px solid red;
}

.mainMenu_inner {
  padding-block: 24px;
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.tab_category_container {
  display: flex;
  flex-direction: column;
  gap: 55px;
  max-width: 250px;
  width: 100%;
  padding-right: 24px;
}

.tab_category {
  border: 1px solid green;
}

.tab_category_title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: var(--gray);
}

.tab_category_title.active {
  color: var(--main-orange);
}

.tab_category_content {
  width: 100%;
  height: 100%;
  padding-left: 24px;
  border-left: 1px solid #f2f2fa;
}

.categories_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 24px;
}

.subcategory_title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--black);
}

.active_category_title {
  font-size: 32px;
  line-height: 48px;
  color: var(--main-orange);
  font-weight: 500;
}

.subsubcategory_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.subsubcategory_title {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #27282a;
}

@media (max-width: 1800px) {
  .tab_category_container {
    gap: 32px;
  }
  .tab_category_title {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 880px) {
  .mainMenu {
    top: 128px;
  }
}
