.category {
  width: 100%;
  background-color: var(--bg-gray);
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 20px;
  color: var(--black);
  transition: 0.3s !important;
  border-radius: 8px;
  overflow: hidden;
  min-height: 275px;
}

.category_img {
  position: relative;
  width: 100%;
  height: 150px;
}

.category_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.category_name {
  font-family: "TT Firs Neue", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: currentColor;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category:hover {
  color: var(--main-orange) !important;
  transition: 0.3s !important;
}

@media (max-width: 880px) {
  .category {
    gap: 12px;
    padding: 12px;
  }
  .category_img {
    height: 60px;
  }
  .category_name {
    font-size: 12px;
    line-height: 14px;
  }
}
