.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
  background-color: var(--white);
  border-bottom: 1px solid #eeee;
  height: 175px;
}

.header_top_div {
  background-color: #f4f5f5;
  position: relative;
  z-index: 9;
}

.header_top_div_inner {
  padding-block: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.header_inner {
  padding-block: 20px;
  display: flex;
  align-items: center;
  gap: 38px;
  overflow: hidden;
  z-index: 9;
  background-color: var(--white);
}

.header_top_address_logo {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--gray);
  font-size: 14px;
  line-height: 20px;
}

.header_top_address:hover .underline {
  text-decoration: underline !important;
}

.header_top_address svg {
  width: 20px;
  height: 20px;
}

.underline {
  font-size: 14px;
  line-height: 20px;
}

.header_top_address {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  color: var(--gray) !important;
}

.logo {
  display: inline-block;
  position: relative;
  width: 178px;
  height: 44px;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.category_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(255, 100, 24, 0.08);
  padding: 10px 18px;
  border-radius: 4px;
  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  width: 16px;
  height: 14px;
}

.hamburger span {
  width: 16px;
  height: 2px;
  background-color: var(--main-orange);
  transition: 0.5s;
}

.category_btn > p {
  font-size: 18px;
  line-height: 24px;
  color: var(--main-orange);
  margin-top: 2px !important;
}

.search_div {
  flex: 1 1 auto;
  border: 1px solid #ebebeb;
  display: flex;
  height: 44px;
  border-radius: 4px;
  overflow: hidden;
}

.search_div input:focus {
  outline: none;
}

.search_div input {
  flex: 1 1 auto;
  padding: 8px 16px;
  background-color: var(--white);
  border: none;
}

.search_btn {
  width: 110px;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #f8f8f8;
  border: none;
  border-left: 1px solid #ebebeb;
  cursor: pointer;
}

.search_btn svg {
  width: 24px;
  height: 24px;
}

.extra_div {
  display: flex;
  align-items: center;
  gap: 40px;
}

.extra_nav {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--black);
  cursor: pointer;
  position: relative;
  transition: 0.3s !important;
  font-size: 16px;
  line-height: 24px;
}

.extra_nav:hover {
  color: var(--main-orange) !important;
  transition: 0.3s !important;
}

.extra_nav.active {
  color: var(--main-orange);
}

.extra_nav svg {
  max-width: 24px;
  width: 100%;
  height: 24px;
}

.bags_products {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--red);
  position: absolute;
  top: -18px;
  left: 5px;
  font-size: 12px;
  line-height: 16px;
  font-family: "TT Firs Neue", "Roboto Flex", sans-serif;
  color: var(--white);
  display: grid;
  place-items: center;
}

.header_top_nav {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header_top_link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--gray);
  transition: 0.3s !important;
}

.header_top_link:hover {
  color: var(--main-orange) !important;
  transition: 0.3s !important;
}

.header_top_link svg {
  width: 20px;
  height: 20px;
}

.locale {
  text-transform: capitalize;
}

.header_top_link span {
  font-size: 14px;
  line-height: 20px;
}

.header_top_phone_number {
  font-family: "TT Firs Neue";
  font-weight: 600;
  color: var(--main-orange);
}

.header_top_phone_number:hover {
  color: var(--main-orange) !important;
}

.mainChanger {
  position: relative;
}

.langChanger {
  border: none;
  background-color: unset;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.langChanger p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--black);
}

.langChanger svg {
  width: 16px !important;
  height: 16px !important;
}

.langChanger:focus {
  outline: none;
}

.lang_options_div.show {
  opacity: 1;
  transition: 0.5s;
  transform: translateY(0%);
  pointer-events: all;
}

.lang_options_div {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 34px;
  right: 0;
  background-color: var(--white);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(10%);
  padding-block: 8px;
  pointer-events: none;
}

.lang {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px 16px;
}

.lang:hover p {
  color: var(--main-orange) !important;
  transition: 0.3s !important;
}

.lang p {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--black) !important;
  transition: 0.3s !important;
}

.lang img {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.mobile_header {
  display: none;
  padding: 16px;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 9;
}

.mobile_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile_bottom {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 100%;
  width: 100%;
}

.rotate45 {
  position: absolute;
  transform: rotate(45deg);
  transition: 0.5s;
}

.rotateMinus45 {
  position: absolute;
  transform: rotate(-45deg);
  transition: 0.5s;
}

.notrotate {
  transform: rotate(0deg);
  transition: 0.3s;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.3s;
}

.header_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: -2;
}

.bottom_nav_item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: unset;
  border: none;
  transition: 0.3s;
}

a.bottom_nav_item:hover {
  color: var(--main-orange);
  transition: 0.3s;
}

button.bottom_nav_item.active svg {
  transform: rotate(180deg);
  transition: 0.3s;
}

.bottom_nav_item svg {
  max-width: 24px;
  width: 100%;
  height: 24px;
}

button.bottom_nav_item svg {
  transition: 0.3s;
}

.tipa_bottom_item {
  background-color: #f9f9f9;
  height: 26px;
  width: 150px;
}

@media (max-width: 1800px) {
  .header_inner,
  .header_top_nav {
    gap: 28px;
  }
  .extra_div {
    gap: 20px;
  }
  .category_btn p,
  .bottom_nav_item {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  .gap8_div p,
  .category_btn p {
    font-size: 14px;
    line-height: 20px;
  }
  .logo {
    width: 140px;
  }
  .header_inner {
    gap: 16px;
  }
  .extra_div {
    gap: 16px;
  }
  .search_btn {
    width: 80px;
  }
}

@media (max-width: 1024px) {
  .header_top_div {
    display: none;
  }
  .category_btn {
    padding: 16px;
  }
  .search_btn {
    width: 60px;
  }
  .category_btn p {
    display: none;
  }
}

@media (max-width: 880px) {
  .header {
    height: auto;
  }
  .mobile_header {
    display: flex;
  }
  .header_inner,
  .header_bottom {
    display: none;
  }
}

@media (max-width: 580px) {
  .logo {
    width: 105px;
    height: 30px;
  }
}
