.categories_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 24px;
  row-gap: 32px;
  margin-top: 24px;
}

.blog {
  height: 280px;
  width: 100%;
  border-radius: 18px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(138, 138, 138, 0) 5%,
    rgba(83, 83, 83, 0.76) 100%
  );
  padding: 24px;
  align-items: flex-end;
  display: flex;
  position: relative;
  color: var(--white);
}

.blog:hover {
  color: var(--white) !important;
}

.blog img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 880px) {
  .blog {
    padding: 16px;
    height: 200px;
  }
}

@media (max-width: 580px) {
  .blog {
    padding: 12px;
  }
}
