@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap");

@font-face {
  font-family: "Neue-regular";
  src: url("/fonts/TTFirsNeue-Regular.ttf");
}

@font-face {
  font-family: "Neue-medium";
  src: url("/fonts/TTFirsNeue-Medium.ttf");
}

@font-face {
  font-family: "Neue-semibold";
  src: url("/fonts/TTFirsNeue-SemiBold.ttf");
}

@font-face {
  font-family: "Neue-bold";
  src: url("/fonts/TTFirsNeue-Bold.ttf");
}

:root {
  --white: #fff;
  --black: #020105;
  --gray: #727474;
  --bg-gray: #f9f9f9;
  --main-orange: #ff7e00;
  --light-orange: #ffa854;
  --red: #ef3f27;
  --neue-regular: "Neue-regular";
  --neue-medium: "Neue-medium";
  --neue-semibold: "Neue-semibold";
  --neue-bold: "Neue-bold";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--neue-regular), "Roboto Flex", "Inter", sans-serif;
  scroll-behavior: smooth !important;
  text-decoration: none !important;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

.skeleton {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top;
  animation: shine 2s ease infinite;
}

input:focus,
textarea:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* overflow-x: hidden; */
}

main {
  flex: 1 1 auto;
  padding-top: calc(128px);
}

.container {
  max-width: 1640px !important;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
}

.page_main_title {
  font-family: var(--neue-medium), "Roboto Flex", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.category_title {
  font-family: var(--neue-medium), "Roboto Flex", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

.category_view_all {
  font-family: var(--neue-regular), "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--main-orange);
  margin-bottom: 7px;
}

.category_view_all:hover {
  text-decoration: underline !important;
  color: var(--main-orange) !important;
}

.primary_btn {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 24px;
  border-radius: 6px;
  background-color: var(--main-orange);
  border: 1px solid var(--main-orange);
  color: var(--white);
  cursor: pointer;
  transition: 0.3s !important;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.primary_btn:hover {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15) !important;
  transition: 0.3s !important;
}

.secondary_btn {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 16px 24px;
  border-radius: 6px;
  background-color: unset;
  border: 1px solid var(--main-orange);
  color: var(--main-orange);
  cursor: pointer;
  transition: 0.3s !important;
  text-align: center;
}

.secondary_btn:hover {
  background-color: #ffe7db !important;
  border: 1px solid #ffe7db !important;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15) !important;
  transition: 0.3s !important;
  color: var(--main-orange) !important;
}

.disabled_btn {
  font-family: "Inter", sans-serif;
  display: inline-block;
  padding: 16px 24px;
  border-radius: 6px;
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  cursor: pointer;
  color: var(--black);
  transition: 0.3s;
  text-align: center;
}

.text_btn {
  font-family: "Inter", sans-serif;
  display: inline-block;
  color: var(--main-orange);
  border: none;
  padding: 16px 24px;
  background-color: unset;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.text_btn:hover {
  text-decoration: underline !important;
  color: var(--main-orange) !important;
}

.disabled_text_btn {
  color: #6c6c6c;
  border: none;
  padding: 16px 24px;
  background-color: unset;
  cursor: pointer;
  transition: 0.3s;
}

.section_inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.products_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}

.qr_div {
  display: flex;
  align-items: center;
  gap: 24px;
}

.qr {
  max-width: 120px;
  width: 100%;
  height: 120px;
  position: relative;
}

.qr img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.qr_text {
  font-size: 18px;
  line-height: 24px;
  color: var(--gray);
  max-width: 280px;
  width: 100%;
}

.section {
  margin-top: 120px;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  background-color: rgba(255, 255, 255, 0.48);
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.48);
  width: 48px !important;
  height: 48px !important;
  border-radius: 50%;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullet-active {
  width: 12px !important;
  height: 12px !important;
  background-color: var(--main-orange) !important;
  transition: 0.3s !important;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: var(--light-orange) !important;
  transition: 0.3s !important;
}

.blog_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 24px;
}

.grid6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 24px;
  row-gap: 32px;
  margin-top: 24px;
  transition: 1s;
}

.grid6_brands {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 24px;
  row-gap: 32px;
  margin-top: 24px;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 32px;
  margin-top: 24px;
  transition: 1s;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 32px;
  margin-top: 24px;
  transition: 1s;
}

.products_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 32px;
}

.products_grid_5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 32px;
}

.brand {
  width: 100%;
  padding: 8px 50px;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.brand_img {
  position: relative;
  width: 100%;
  height: 120px;
}

.brand_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main_flex_content {
  display: flex;
  gap: 24px;
}

.main_text_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#mainContent .container {
  padding-inline: 0px;
}

.page_node {
  display: flex;
  align-items: center;
  gap: 8px;
}

.page_node_element {
  font-family: "TT Firs Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
  transition: 0.3s;
}

a.page_node_element:hover {
  color: var(--main-orange) !important;
  transition: 0.3s;
}

.page_node_element.active {
  color: var(--main-orange);
}

.accordion {
  display: flex !important;
  flex-direction: column !important;
  border-radius: 0px !important;
}

.accordion-item {
  border-inline: none !important;
}

.accordion-header {
  max-width: 100%;
  width: 100%;
}

.accordion-button {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding-block: 16px !important;
  gap: 16px !important;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  background-color: unset !important;
  box-shadow: none !important;
}

.accordion-button::after {
  display: none;
}

.accordion-button p {
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: var(--black);
  text-align: left;
  margin: 0 !important;
}

.accordion-button.collapsed svg {
  transform: rotate(0deg) !important;
  transition: 0.3s;
}

.accordion-button svg {
  transform: rotate(180deg) !important;
  transition: 0.3s;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1800px) {
  .qr_div {
    gap: 12px;
  }
  .qr_text {
    font-size: 16px;
  }
}

@media (max-width: 1400px) {
  .grid6,
  .products_grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1200px) {
  .grid6,
  .products_grid,
  .grid6_brands {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 880px) {
  .section {
    margin-top: 48px;
  }
  .grid6 {
    gap: 8px;
  }
  .grid6_brands {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-top: 16px;
  }
  .grid6,
  .products_grid,
  .blog_container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
    margin-top: 16px;
  }
  .products_grid {
    column-gap: 8px;
    row-gap: 20px;
  }
  .category_title {
    font-size: 20px;
    line-height: 24px;
  }
  .titles_div {
    align-items: center;
    justify-content: space-between;
  }
  .category_view_all {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }
  .brand {
    padding: 8px;
    display: grid;
    place-items: center;
  }
  .brand_img {
    width: 80px;
    height: 80px;
  }
  .main_text_content {
    gap: 8px;
  }
  .page_main_title {
    font-size: 20px;
    line-height: 28px;
  }
  .page_node_element {
    font-size: 12px;
    line-height: 16px;
  }
  .qr_text {
    max-width: 160px;
  }
  .qr_div {
    max-width: 100%;
    width: 100%;
  }
  .qr {
    max-width: 80px;
    height: 80px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

@media (max-width: 580px) {
  .primary_btn {
    width: 100%;
  }
  .container {
    padding-inline: 16px;
  }
  .section {
    margin-top: 32px;
  }
  .products_grid {
    grid-template-columns: 1fr 1fr;
  }
  .blog_container {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  .category_title {
    font-size: 16px;
    line-height: 24px;
  }
  .secondary_btn {
    max-width: 100%;
    width: 100%;
  }
  .qr_text {
    font-size: 14px;
    line-height: 22px;
  }
}
