/* === CSS === */
@import "./buttons.css";
@import "./swiper.css";
@import "./accordion.css";

/* === FONTS === */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap");

@font-face {
  font-family: "Neue-regular";
  src: url("/fonts/TTFirsNeue-Regular.ttf");
}

@font-face {
  font-family: "Neue-medium";
  src: url("/fonts/TTFirsNeue-Medium.ttf");
}

@font-face {
  font-family: "Neue-semibold";
  src: url("/fonts/TTFirsNeue-SemiBold.ttf");
}

@font-face {
  font-family: "Neue-bold";
  src: url("/fonts/TTFirsNeue-Bold.ttf");
}

:root {
  --white: #fff;
  --black: #020105;
  --gray: #727474;
  --bg-gray: #f9f9f9;
  --main-orange: #ff7e00;
  --light-orange: #ffa854;
  --red: #ef3f27;
  --neue-regular: "Neue-regular";
  --neue-medium: "Neue-medium";
  --neue-semibold: "Neue-semibold";
  --neue-bold: "Neue-bold";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--neue-regular), "Roboto Flex", "Inter", sans-serif;
  scroll-behavior: smooth !important;
  text-decoration: none !important;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

.skeleton {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top;
  animation: shine 2s ease infinite;
}

input:focus,
textarea:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.test {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  padding-top: 32px;
}

.main {
  flex: 1 1 auto;
  padding-top: calc(175px + 32px);
}

.main.index {
  padding-top: 175px;
}

.container {
  max-width: 1640px !important;
  width: 100%;
  margin: 0 auto;
  padding-inline: 16px;
}

.categories_container,
.products_container,
.brands_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}

.blog_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.qr_div {
  display: flex;
  align-items: center;
  gap: 24px;
}

.qr {
  max-width: 120px;
  width: 100%;
  height: 120px;
  position: relative;
}

.qr img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.qr_text {
  font-size: 18px;
  line-height: 24px;
  color: var(--gray);
  max-width: 280px;
  width: 100%;
}

.layout {
  display: flex;
  gap: 24px;
}

.aside {
  max-width: 250px;
  width: 100%;
  border: 1px solid blue;
  position: relative;
}

.main_content {
  width: 100%;
  border: 1px solid red;
  overflow: hidden;
}

.inner_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  margin-top: 32px;
}

.section {
  margin-top: 120px;
}

.section_inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section_title {
  font-family: var(--neue-medium), sans-serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  color: var(--black);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1800px) {
  .categories_container,
  .products_container,
  .brands_container {
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
  }
  .blog_container {
    gap: 16px;
  }
}

@media (max-width: 1200px) {
  .categories_container,
  .products_container,
  .brands_container {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}

@media (max-width: 880px) {
  .section {
    margin-top: 80px;
  }
  .section_inner {
    gap: 16px;
  }
  .section_title {
    font-size: 20px;
    line-height: 24px;
  }
  .main {
    padding-top: calc(142px + 16px);
  }
  .main.index {
    padding-top: 142px;
  }
  .categories_container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
    row-gap: 16px;
  }
  .products_container,
  .brands_container,
  .blog_container {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  .products_container {
    row-gap: 20px;
  }
}

@media (max-width: 580px) {
  .section {
    margin-top: 32px;
  }
  .section_title {
    font-size: 16px;
    line-height: 20px;
  }
  .main {
    padding-top: calc(128px + 16px);
  }
  .main.index {
    padding-top: 128px;
  }
}

@media (max-width: 380px) {
  .categories_container {
    grid-template-columns: 1fr 1fr;
  }
}
