.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 7;
  box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.1);
  display: none;
}

.menu_inner {
  padding: 16px 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
}

.menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--black);
}

.menu_item p {
  font-family: "TT Firs Neue", "Roboto Flex", "Inter", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: currentColor;
}

.menu_item.active {
  color: var(--main-orange);
}

@media (max-width: 880px) {
  .menu {
    display: block;
  }
}
